<%-include("partials/header")-%>

<div class="b1" style="padding-top: 3%;">
    <img src="logo.png" style="    width: 225px;
                                margin: 0% 43% 2%;" alt="">
    <p style="color: white;">
        "With Success the doubt of 'Almost' gets eliminated."
        
    </p>
    <p style="color: white;">
        Heartiest congratulations to you for being the true saviours of Extricate Eleven.
        It was a Cut-throat competition, but diligence always pays off!!
    </p>
</div>


<%-include("partials/footer")-%>