<%-include("partials/header")-%>
    <%-include("partials/teams")-%>
    <div class="right">
        <div class="b1">
            <h2>This team has completed its task and reached the Hawkins lab. </h2>
            <h2>Now help any other Team to complete their task.</h2>
        </div>
    </div>
        

        <%-include("partials/footer")-%>