<%-include("partials/header")-%>

<img src="logo.png" class="logo-reg" alt="">
<div class="reg-f ">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Registerations Closed</h3>
        
      </div>
      <!-- <div class="card-body">
        <form action="/register" method="POST">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-users"></i></span>
            </div>
            <input type="text" class="form-control" name="username" placeholder="Team name" required/>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-fingerprint"></i></i></span>
            </div>
            <input type="password" class="form-control" name="roll" placeholder="Password" required />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-university"></i></span>
            </div>
            <input type="text" class="form-control" name="College" placeholder="College" required />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="Teamleader" placeholder="Team-leader" required/>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fab fa-slack-hash"></i></span>
            </div>
            <input type="text" class="form-control" name="rollnumber" placeholder="phone-number" required/>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" name="mail" placeholder="E-mail id" required />
          </div>
          
      </div>
    </div>
  </div>
</div>
<div class=" ">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
            <div class="card-header">
              <h3>Team member-1</h3>
            
            </div>
      <div class="card-body">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" name="member1" placeholder="Team-member" required />
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fab fa-slack-hash"></i></span>
          </div>
          <input type="text" class="form-control" name="rollnumber1" placeholder="phone-number" required />
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="email" class="form-control" name="mail1" placeholder="E-mail id" required />
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class=" ">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
            <div class="card-header">
              <h3>Team member-2</h3>
            
            </div>
      <div class="card-body">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" name="member2" placeholder="Team-member (optional)" />
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fab fa-slack-hash"></i></span>
          </div>
          <input type="text" class="form-control" name="rollnumber2" placeholder="phone-number" />
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="email" class="form-control" name="mail2" placeholder="E-mail id" />
        </div>
       
        <p style="color:red;">
          <%=label%>
        </p>
        <div class="form-group">
          <button type="submit" class="btn float-right login_btn">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<%-include("partials/footer")-%>