<%-include("partials/header")-%>
    <%-include("partials/teams")-%>
        <div class="right">
            <div class="b1">
                <h2>Wrong answer</h2>
            </div>
        </div>


        <%-include("partials/footer")-%>